.GC-header{
  background: black;
  margin: 0;
  @media screen and (max-width:550px){
    p{
      font-size: 11px !important;
      padding: 16px 0 0 0 !important;
    }
  }
  &--logotipo{
    display: block;
    max-width: 43px;
    height: auto;
    padding: 11px 0 11px 0;
    @media screen and (min-width: 550px){
      max-width: 86px;
    }
  }
}
.GC-body{
  background-size: contain;
  width: 100%;
  background: #191919;
  &--bg-img{
    background: url('assets/img/banner.png') no-repeat top left #191919;
  }
}
.GC-container{
    margin: -40px auto 0 auto;
    position: relative;
    @media screen and (min-width: 768px){
      margin: -116px auto 0 auto;
    }
    &__callout{
      padding: 20px !important;
      border: none !important;
      &--blue{
        background: $GC-blue !important;
        .GC-callout__text{
          color: $GC-white !important;
        }
      }
      &--aqua{
        background: $GC-aqua !important;
        .GC-callout__text{
          color: $black !important;
        }
      }
      &--purple{
        background: $GC-purple !important;
        .GC-callout__text{
          color: $GC-white !important;
        }
      }
      &--mustard{
        background: $GC-mustard !important;
        .GC-callout__text{
          color: $black !important;
        }
      }
      &--pink{
        background: $GC-pink !important;
        .GC-callout__text{
          color: $GC-white !important;
        }
      }
    }
    
    &__text{
      &--white,p.GC-container__text--white,h2.GC-container__text--white{
        color: $GC-white;
      }
      &--marker-color{
        color: $GC-fluorescent !important;
        &-pink{
          color: $GC-pink !important;
        }
      }
    }
}
table.button.button--fluorescent table td{
  background:  $GC-fluorescent;
  color: $black !important;
  border: 0px solid  $GC-fluorescent;
}
table.button.button--fluorescent table a{
  color: $black !important;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  padding: 14px 16px;
  &:hover,&:focus{
    color: $black !important;
    background-color: darken($GC-fluorescent, 10%);
  }
}

.GC-socialFeed{
  background-color: $black;
  &__title{
    color: $white;
    font-size: 14px;
  }
  &__img{
    display: inline-block;
    margin: 0 12px !important;
  }
}

.GC-footer{
  background-color: $black;
  &__text1{
    font-size: 10px;
    color: $white;
    margin-bottom: 6px;
  }
  &__text2{
    font-size: 13px;
    color: $white;
    margin-bottom: 6px;
  }
}