//======================================
//-- Primary colors
//==========================

$black: #000;
$primary-blue : #3333ff;
$primary-yellow: #ccff00;
$primary-gray: #727272;
$secondary-gray: #191919;
$white: #fff;
$red: #E60035;
$purple: #8000d8;
$aqua: #3bf3d6;
$yellow: #e5c133;

//======================================
//-- Font sizes
//======================================
$big-size: 44px;
$second-size: 35px;
$third-size: 28px;
$data-size: 22px;
$base-size: 16px;
$special-size: 14px;