footer.p-top-56.p-bottom-56
    .container
        .row.p-bottom-24.vertical-align.font-reset
            .col-xs-12.col-sm-6.vertical-align.font-reset.float-reset.vertical-align-bottom
                img.m-right-16(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/0234e1275c7125a240affa1fdc7aaf66.jpg", alt="Gluo - Made with heart" height="55")
                span.color-white.font-14px Made with 
                    span ❤️ 
                    |in CDMX
                .clear-both
                a.color-white.m-top-24.font-14px(href="#") Aviso de privacidad
                .clear-both
                p.color-white.m-bottom-40.m-top-8.font-14px WeWork, Insurgentes Sur 601, Nápoles, 03810, CDMX
            .col-xs-12.col-sm-6.font-reset.float-reset.text-right.vertical-align.text-mobile-left.vertical-align-bottom
                .max-width-285.text-left
                    p.m-bottom-24.color-white.font-14px Keep in touch wth us
                    ul.p-left-0.GC-footer-social__list
                        li
                            a(href="https://www.instagram.com/gluo_/" target="_blank")
                                img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/e922893a72c413ac09e5d57542dd379f.png", alt="Instagram/Gluo")
                        li
                            a(href="https://www.linkedin.com/company/gluo/" target="_blank")
                                img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/c1b5d2c8803ac9f52df17f8329bd3b4f.png", alt="Linkedin/Gluo")
                        li
                            a(href="https://twitter.com/gluo_" target="_blank")
                                img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/52cfd0758df15edf58d941a620380042.png", alt="Twitter/Gluo")
                        li
                            a(href="https://www.facebook.com/gluo.mx/" target="_blank")
                                img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/e7239318e302d3c2e98db7484fb6559e.png", alt="Facebook/Gluo")
                        li
                            a(href="https://medium.com/@gluo" target="_blank")
                                img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/a8526710e2985cdc63e6fcc61f8ead68.png", alt="Medium/Gluo")
block scripts
