header
    .container.p-bottom-24.p-top-24
        .row.vertical-align.font-reset
            .col-xs-6.col-md-6.float-reset
                a(href="#")
                    img(src=resourceLocator+"assets/img/brand/gluo.png", alt="", srcset=resourceLocator+"assets/img/brand/gluo.png 1x,"+resourceLocator+"assets/img/brand/gluo@2x.png 2x,"+resourceLocator+"assets/img/brand/gluo@3x.png 3x")
            .col-xs-6.col-md-6.float-reset.text-right.font-16px.color-white
                strong.font-eina-light.font-light Adobe Campaing Standar testing