header
    .container.p-bottom-24.p-top-24
        .row.vertical-align.font-reset
            .col-xs-6.col-md-6.float-reset
                a(href="#")
                    img(src="https://acs806us-res.adobesandbox.com/res/sampleinstance/9a1d7e31b79f9d63da06ce8d2dbad3c3.png", alt="", height="50")
            .col-xs-6.col-md-6.float-reset.text-right.font-16px.color-white
                strong.font-eina-light.font-light Adobe Campaing Standar testing